
{% load bootstrap5 %}
{% bootstrap_css %}  
{% bootstrap_javascript %}
{% load bootstrap_icons %}


<div  style="background: transparent ;">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 mb-6 border-bottom">
      <div class="col-md-1 mb-2 mb-md-0">
        <a href="{% url 'home' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">ArtyProd</span>
          </a>
      </div>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary" >Home</a></li>
        <li><a href="#" class="nav-link px-2">Portfolio</a></li>
        <li><a href="#" class="nav-link px-2">Services</a></li>
        <li><a href="#" class="nav-link px-2">Contact</a></li>
      </ul>
      <div class="col-md-1 text-end" >
          {% if user.is_authenticated %}
          <div class="flex-shrink-0 dropdown" >
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
              {{user}}
            </a>
            <ul class="dropdown-menu text-small shadow">
              {% if request.user.is_superuser %}
              
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'projetfilter' %}">My Project</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Déconnexion</a></li>
            </ul>
          </div>
          {% else %}
            <div class="d-flex align-items-center" style="margin-left: -100px;">
                <a class="nav-link" href="{% url 'login' %}">Connexion</a>
                <a class="nav-link" href="{% url 'register' %}">Inscription</a>
            </div>
          {% endif %} 
      </div>
    </header>
  </div>
  
{% block content %}
{% endblock %}