{% extends 'acceuil.html' %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}  
{% bootstrap_javascript %}

<form method='POST' class="post-form">
{% csrf_token %}
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for s in list %}
      <div class="col ">
        <div class="card shadow-sm">
          <!--<img src='/media/{{ article.img }}' class="card-img-top" height="200px"  width="200px">-->
          <div class="card-body">
               <p> {{s.description}} </p> 
               <p>{{s.type}} </p>
               <object data="{{ s.details.fichier.url }}" type="{{ s.details.fichier.content_type }}" width="10%" height="50px">
                <p><a href="{{ s.details.fichier.url }}">{{s.details.fichier}}</a></p>
            </object>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-outline-primary ms-1"><a href="{% url 'service-edit' s.id %}">Edit</a></button>
              <button type="button" class="btn btn-outline-primary ms-1"><a href="{% url 'delete-service' s.pk %}">Delete</a></button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}